body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7a8b8b;
}

.container {
    text-align: center;
    margin: 50px auto;
    width: 80%;
}

.materials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.material-card {
    background-color: white;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.material-card button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lesson-container {
    display: flex;
    padding: 20px;
}

.lesson-sidebar {
    width: 30%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.lesson-sidebar h2 {
    font-size: 1.5em;
}

.lesson-sidebar ul {
    list-style: none;
    padding: 0;
}

.lesson-sidebar ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.lesson-content {
    width: 70%;
    padding: 20px;
}

.back-btn {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.icon {
    font-size: 50px; /* Tăng kích thước của icon */
    color: #ffa07a; /* Màu xanh giống với nút */
    margin-bottom: 20px;
}

